@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;1,200&family=Dosis:wght@300;400;500&family=Fruktur&family=Lobster&family=Lobster+Two:ital@1&family=Montserrat:wght@300;500&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;1,200&family=Dosis:wght@300;400;500&family=Fruktur&family=Lobster+Two:ital@1&family=Montserrat:wght@300;500&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;1,200&family=Dosis:wght@300&family=Fruktur&family=Lobster+Two:ital@1&family=Montserrat:wght@300;500&family=Playfair+Display:wght@600&display=swap');
:root{
    --orange:#ed6b3e;
    --telete: #82a5cf;
    --light-black: #666;
    --light-white: #ccc;
    --light-bg: #f5f5f5;
    --dark-bg:rgba(0,0,0,.5);
    --border:.1rem solid #aaa;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
    text-transform: capitalize;
}
* > img{
    user-select: none;
    pointer-events: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--orange);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--telete);
}
section{
    padding: 5rem 10%;
}
.heading{
    text-align: center;
    margin-bottom: 3rem;
}
.heading span{
    font-size: 2.5rem;
    color: var(--telete);
}
.heading h3{
    font-size:4.5rem;
    color: black;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    background: var(--orange);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
}
.btn:hover{
    letter-spacing: 0.5rem;
}
.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-position: var(--telete);
    z-index: 1000;
}
.header .logo{
    font-weight: bolder;
    height: auto;
    padding: 0;
}
.header .logo img{
    object-fit: cover;
    height: 8em;
    margin: 0;
    padding: 0;
}
.header .navbar a{
    font-size: 2rem;
    margin-left: 5rem;
    color: black;
    text-transform: uppercase;
}
.header .navbar a:hover{
    color: #ed6b3e;
}
#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: black;
    display: none;
}
@keyframes fadeIn{
    0%{
        transform: translateY(-4rem) scale(0);
        opacity: 0;
    }
}
.home{
    padding: 0;
    background: var(--dark-bg);
}
.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .slide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--dark-bg);
    z-index: -1;
}
.home .slide .content{
    text-align: center;
    width: 70rem;
    display: none;
}
.home .slide .content span{
    font-size: 3rem;
    display: block;
    padding-bottom: .5rem;
    color: var(--light-white);
    animation: fadeIn 0.4s cubic-bezier(.54, 1.3,.63,1.34) .2s backwards;
}
.home .slide .content h3{
    font-size: 8vw;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
    line-height: 1;
    padding: 2rem 0;
    animation: fadeIn 0.4s cubic-bezier(.54, 1.3,.63,1.34) .4s backwards;
}
.home .slide .content .btn{
    animation: fadeIn 0.4s cubic-bezier(.54, 1.3,.63,1.34) .6s backwards;
}
.home .swiper-slide-active .content{
    display: inline-block;
}
.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: white;
    color: black;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--telete);
    color: white;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    background: #f7f0dc;
}
.about .image{
    flex:1 1 41rem;
}
.about .image img{
    width: 100%;
}
.about .content{
    flex: 1 1 41rem;
}
.about .content .tittle{
    font-size: 7rem;
    font-family: "LOBSTER";
    color: var(--telete);
    font-weight: 400;
    text-align: center;
    padding-bottom: 0.4em;
}
.about .content p{
    font-size: 3rem;
    color: var(--telete);
    padding: 1rem 0;
    line-height: 2;
    text-align: center;
}

.about .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}
.about .content .icons-container .icons{
    flex:1 1 16rem;
    text-align: center;
    background: var(--light-bg);
    padding: 3rem 2rem;
}
.about .content .icons-container .icons img{
    height: 5rem; 
}
.about .content .icons-container .icons h3{
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--light-black);
}
.food{
    background: #f7f0dc;
}
.food .slide{
    text-align: center;
    padding: 3rem 2rem;
    border-radius: .5rem;
    transform: scale(.9);
    opacity: .5;
    margin-bottom: 4rem;
    cursor: pointer;
}
.swiper-pagination-bullet-active{
    background: var(--orange);
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0;
}
.food .swiper-slide-active{
    transform: scale(1);
    opacity: 1;
    background: white;
    box-shadow: var(--box-shadow);
    border: var(--border);
}
.food .slide img{
    height: 25rem;
    margin-bottom: 1rem;
}
.food .slide h3{
    font-size:2.5rem;
    padding: 1rem 0;
    color: black;
}
.food .slide .precio{
    font-size: 2.5rem;
    color: var(--orange);
}
.food-preview-container{
    background: var(--dark-bg);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1100;
    display: none;
    justify-content: center;
}
.food-preview-container .food-preview{
    text-align: center;
    background: white;
    padding: 3rem 2rem;
    border-radius: .5rem;
    display: none;
    width: 35rem;
}
.food-preview-container .food-preview.active{
    display: inline-block;
    animation: fadeIn 0.4s cubic-bezier(.54, 1.3,.63,1.34)  backwards;

}
.food-preview-container .food-preview img{
    height: 15rem;
    margin-bottom: 1rem;
}
.food-preview-container .food-preview h3{
    padding: 1rem 0;
    font-size: 2.5rem;
    color: black;
}
.food-preview-container .food-preview .stars{
    margin-top: .5rem;
}
.food-preview-container .food-preview .stars i{
    font-size: 1.7rem;
    color: var(--orange);
}
.food-preview-container .food-preview p{
    font-size: 1.6rem;
    color: var(--light-black);
    padding: 1rem 0;
    line-height: 2;
}
.food-preview-container .food-preview .precio{
    font-size: 2.5rem;
    color: black;
    margin-bottom: .5rem;
}
#close-preview{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 6rem;
    cursor: pointer;
    color: white;
}
#close-preview:hover{
    transform: rotate(90deg);
}
.gallery .gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.gallery .gallery-container .box{
    height: 40rem;
    position: relative;
    overflow: hidden;

}
.gallery .gallery-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .gallery-container .box .icon{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: var(--dark-bg);
}
.gallery .gallery-container .box .icon i{
    font-size: 6rem;
    color: white;
}
.gallery .gallery-container .box:hover .icon{
    display: flex;
}
.meenufoto{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(247 238 220);
    width: 100%;
    
}
.meenufoto img{
    height: 90%;
    width: 80%;
    object-fit: cover;
    margin-top: 6rem;
    margin-bottom: 6rem;
    box-shadow: 7px 5px 5px #5a5858;
}
.historia-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100%;
}
.historia-container img{
    height: 70%;
    width: 70%;
    object-fit: cover;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin: auto;
}
.franja {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.franja img{
    height: 20%;
    width: 70%;
    object-fit: cover;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin: auto;
}
.contact{
    background: rgb(247 238 220);
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    
}
.contact .map{
    flex: 1 1 40rem;
}
.contact  .form{
    flex: 1 1 40rem;
}
.contact .icons-container{
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}
.contact .icons{
    flex: 1 1 17rem;
    text-align: center;
}
.contact  i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    background: none;
    color: var(--orange);
    font-size: 2rem;
    margin-bottom: 0.1rem;
}
.contact h3{
    padding: 1rem 0;
    font-size: 2rem;
    text-transform: bold;
    color: #ed6b3e;
    text-align: center;
}
.contact p{
    font-size: 1.5rem;
    text-transform: bold;
}
.form{
    text-align: center;
}
.form .box{
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: black;
    background: none;
    border: .2rem solid rgba(27, 16, 16, 0.9);
    text-transform: none;
    width: 100%;
    margin: .7rem 0;
}
.box:focus{
    border-color: var(--telete);
}
.form textarea{
    height: 9rem;
    resize: none;
}
.headinng{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.headinng img{
    height: 20%;
    width: 100%;
    object-fit: cover;
    margin-top: 6rem;
    margin-bottom: 1rem;
    margin: auto;
}
.contact .htres{
    text-align: center;
    font-size: 4rem;
    color: black;
}







































/*media queris*/
@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}
@media (max-width:991px){
    section{
        padding: 3rem 2rem;
    }
    html{
        font-size: 55%;
    }
    .home .slide .content h3{
        font-size: 9vw;
    }
    .header .logo{
        height: auto;
    }
    .header .logo img {
        padding-right: 0.5rem;
        height: 3em;
    }
}
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .fa-times{
        transform: rotate(180deg);
    }
    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: white;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
    }
    .swiper-button-next,
    .swiper-button-prev{
        top: initial;
        bottom: 1rem;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .header .logo{
        line-height: 0;
    }
    .home .slide .content h3{
        font-size: 6rem;
    }
}